@font-face {
  font-family: 'Lovelo';
  src: url('/static/fonts/Lovelo_Black.eot'); 
  src: url('/static/fonts/Lovelo_Black.eot?#iefix') format('embedded-opentype'), 
	   url('/static/fonts/Lovelo_Black.woff') format('woff'),  
	   url('/static/fonts/Lovelo_Black.ttf') format('truetype'), 
	   url('/static/fonts/Lovelo_Black.svg#loveloblack') format('svg'); font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('/static/fonts/OpenSans-Regular-webfont.eot');
    src: url('/static/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}
* {
	font-smoothing: antialiased;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
html {
	min-height: 100%;
}
body {
	margin: 0;
	font-family: OpenSansRegular;
	font-size: 14px;
	color: rgb(103, 103, 103);
	min-height: 100%;
	display: flex;
	-webkit-flex-direction: column;
	/* color: #F2F2F2; */
}

main {
	width: 700px;
	margin: 0px auto;
	padding: 40px 0px;
	flex: 1;
}

header {
	width: 100%;
	position: relative;
	overflow: visible!important;
	padding: 1px 0 1px 0;
	margin: 0 auto;
	background-color: #fff;
	z-index: 9998;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
	vertical-align: baseline;
	box-sizing: border-box;
	font-size: 100%;
	height: 60px;
}
nav {
	width: auto;
	position: static!important;
	z-index: 10;
	box-sizing: border-box;
	color: #676767;
	display: inline-block;
	line-height: 60px;
	vertical-align: top;
	float: right;
}
nav a {
	overflow: visible!important;
	min-height: 1px;
	list-style: none outside none;
	line-height: 12px!important;
	font-size: 12px!important;
	position: relative;
	z-index: 10;
	font-family: Lovelo,sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 16.8px;
	color: #888;
	padding: 0px 5px 0px 5px;
	min-width: 1px;
	margin: 0 1px;
	position: relative;
	text-decoration: none;
}
a:hover, a:active {
	color: #21cdec;
	transition: color 0.1s linear;
}
i {
	margin: 0px 5px 0px 5px;	
}
h1 {
	font-size: 52px;
	line-height: 58px;
	letter-spacing: 2px;
	font-family: Lovelo,sans-serif;
}
header h1 {
	display: inline-block;
	text-shadow: 3px 3px 0px rgba(0, 214, 255, 0.5);
}
h2 {
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 10px;
}
h3, legend {
	font-size: 19px;
	line-height: 34px;
	margin-bottom: 7px;
}
h4 {
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 7px;
}
h5 {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 7px;
}
h6 {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 7px;
}
h1,h2,h3,h4,h5,h6,legend {
	color: #444;	
	letter-spacing: -0.5px;
	font-weight: normal;
	font-smoothing: antialiased;
	text-transform: uppercase;		
}
p {
	text-align: justify;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 11px;
	color: rgb(103, 103, 103);
	display: block;
	font-family: OpenSansRegular;
}
form {
	margin-bottom: 11px;
}
input[type=text],input[type=password],input[type=email],input[type=datetime-local],select,textarea {	
	padding: 10px!important;
	width: 100%;
	border: 0px;
	border-bottom: 1px solid #fff;
	font-family: OpenSansRegular;
	font-size: 12px;
	line-height: 22px;
	color: #555;
	background-color: #efefef;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
	box-sizing: border-box;
}
input[type=submit],button {
	border-radius: 3px;
	color: #fff;
	background-color: #333;
	padding: 7px 13px;
	cursor: pointer;
}
label {
	display: block;
}
fieldset {
	border: none;
	padding: 15px;	
}
ul {
	padding-left: 28px;
	margin-bottom: 11px;
}
ul ul {
	margin-bottom: 0px;
}
ul li {
	list-style-type:circle;
	padding-left: 5px;
	line-height: 22px;
}
footer {
	border: none!important;
	padding: 20px 0 20px 0;
	background-color: #1c1c1c!important;
	font-size: 12px;
	color: #777;
	position: relative;
	height: 12px;
}
footer a, li a {
	color: rgb(103, 103, 103);
}
#login_form {
	background-color: rgba(100,100,100,0.5);
	position: absolute;
	right: 300px;
	top: 120px;
	z-index: 1;
	width: 400px;
	border-radius: 5px;	
}
#login_form legend {
	color: white;
	text-shadow: 1px 1px 1px #000000;
}
#login_form p {
	color: white;
	text-shadow: 1px 1px 1px #000000;
}
.home_map {
	height: 400px;
	min-width: 100%;
	position: relative;
	overflow: hidden;
	transform: translateZ(0px);
	background-color: rgb(229, 227, 223);
}
.user_map {
	min-width: 100%;
	height: 800px;
	position: relative;
	overflow: hidden;
	transform: translateZ(0px);
	flex: 1;
}
#invalid_login {
	font-size: 14px;
	line-height: 22px;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	font-family: OpenSansRegular;		
}
.profile_pic {
	width: 50px;
	height: 50px;
	border-radius: 150px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	position: absolute;
	display: inline-block;
	margin: 5px 10px 5px 10px;
	background-size: contain;
}
/* new style */
