    <footer>
    	<div style="width: 700px; margin: 0px auto;"><!-- **FIX LATER** -->
    		<!--
            <div class="row">
                <nav class="col" id="social">
                    <a href="#"><img src="/static/images/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="/static/images/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="/static/images/google+.png" alt="Google PLus"></a>
                </nav>
            </div>
        
            <div class="row">
                <section class="col footer_sections">
                    <nav>
                        <a href="#">Home</a>
                        <a href="#">Your Quests</a>
                        <a href="#">Create Quests</a>
                        <a href="#">Your Profile</a>
                    </nav>
                </section>
        
                <section class="col footer_sections">
                    <nav>
                        <a href="#">Terms and Conditions</a>
                        <a href="#">Privacy Policies</a>
                        <a href="#">Boring Stuff</a>
                    </nav>
                </section>
        
                <section class="col">
                    <h4>Contact Us</h4>
                    <p>Phone: 0412345678</p>
                </section>
            </div>
            -->
            Terra Quest 2015.
    		<a href="">Privacy policy</a> - <a href="">Terms of Use</a>
        </div>
    </footer>
</body>
</html>

