{% include templates/headheader.html %}
	<main>
    <div class="row">
		<div class="col">
			<form id="edit_profile" action="/user/{{ user.rowID }}/edit" method="POST">
				<input type="submit" value="Edit Profile">
			</form>
		</div>
        <!--
		<div class="col">
			<p>
				<h3>About me</h3>
			</p>
		</div>
        -->
	</div>
	<div class="row">
		<div class="col">
			<p>
				Username: {{ user.username }}
			</p>
			<p>
				First Name: {{ user.fname }}
			</p>
			<p>
				Last Name: {{ user.lname }}
			</p>
			<p>
				Email: {{ user.email }}
			</p>
		</div>
		<div class="col">					
			<p>
				<h3>My Quests</h3>	
				<!--quests the adventurer has created-->
				<ul>
				{% for quest in created_quests %}
					<li>
						<a href="/quest/{{ quest.rowID }}">{{ quest.name }}</a>
					</li>
				{% end for %}
				</ul>	
			</p>
			<p>
				<h3>Participating Quests</h3>	
				<!--quests the adventurer is participating in-->
				<ul>
				{% for quest in participating_quests %}
					<li>
						<a href="/quest/{{ quest.rowID }}">{{ quest.name }}</a>
					</li>
				{% end for %}
				</ul>	
			</p>
		</div>
	</div>
    </main>
{% include templates/footer.html %}
		